### PART 1: GETTING THE DATA

Importing all the relevant packages

In [0]:
import pandas as pd
import numpy as np

Grabbing the data from Wikipedia

In [14]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Let's get rid of the cells that don't have an assigned borough, and fix those that don't have a neighbourhood. Let's also rename the column to read "Postal Code" rather than "Postcode".

In [15]:
df.rename(columns={'Postcode': "Postal Code"}, inplace=True)
df

    Postal Code           Borough          Neighbourhood
0           M1A      Not assigned           Not assigned
1           M2A      Not assigned           Not assigned
2           M3A        North York              Parkwoods
3           M4A        North York       Victoria Village
4           M5A  Downtown Toronto           Harbourfront
..          ...               ...                    ...
283         M8Z         Etobicoke              Mimico NW
284         M8Z         Etobicoke     The Queensway West
285         M8Z         Etobicoke  Royal York South West
286         M8Z         Etobicoke         South of Bloor
287         M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [0]:
df_trimmed = df[df.Borough != 'Not assigned'].copy()

In [17]:
df_trimmed.loc[df_trimmed['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df_trimmed['Borough']
df_trimmed

    Postal Code           Borough             Neighbourhood
2           M3A        North York                 Parkwoods
3           M4A        North York          Victoria Village
4           M5A  Downtown Toronto              Harbourfront
5           M5A  Downtown Toronto               Regent Park
6           M6A        North York          Lawrence Heights
..          ...               ...                       ...
282         M8Z         Etobicoke  Kingsway Park South West
283         M8Z         Etobicoke                 Mimico NW
284         M8Z         Etobicoke        The Queensway West
285         M8Z         Etobicoke     Royal York South West
286         M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Finally, let's group by postal code.

In [19]:
df_toronto = df_trimmed.groupby(['Postal Code','Borough'], as_index=False).agg({'Neighbourhood' : ', '.join})
df_toronto

    Postal Code      Borough                                      Neighbourhood
0           M1B  Scarborough                                     Rouge, Malvern
1           M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101         M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102         M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [20]:
df_toronto.shape

(103, 3)

### PART 2: GETTING THE LOCATION DATA

I couldn't get geocoder to work properly, so I chose to import the csv file.

In [21]:
df_latlong = pd.read_csv('https://cocl.us/Geospatial_data')
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now that this file has been imported as a dataframe, I will merge it with my original dataframe!

In [22]:
df_merged = pd.merge(df_toronto, df_latlong, on="Postal Code")
df_merged

    Postal Code      Borough  ...   Latitude  Longitude
0           M1B  Scarborough  ...  43.806686 -79.194353
1           M1C  Scarborough  ...  43.784535 -79.160497
2           M1E  Scarborough  ...  43.763573 -79.188711
3           M1G  Scarborough  ...  43.770992 -79.216917
4           M1H  Scarborough  ...  43.773136 -79.239476
..          ...          ...  ...        ...        ...
98          M9N         York  ...  43.706876 -79.518188
99          M9P    Etobicoke  ...  43.696319 -79.532242
100         M9R    Etobicoke  ...  43.688905 -79.554724
101         M9V    Etobicoke  ...  43.739416 -79.588437
102         M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]